.about-us {
  max-width: 500px;
}
.about-us > h2 {
  margin-bottom: var(--space-2x);
}
.about-us > p {
  color: var(--text-light);
}
.about-container > .section-50 {
  margin: var(--space-6x) var(--space-4x);
}
