.hero-container {
  height: 80vh;
  max-height: 2000px;
  padding: var(--space-2x);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.77) 100%
    ),
    url("./assets/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4x);
  color: var(--background-light);
  text-align: center;
}
.card-section {
  padding: var(--space-12x) var(--space-4x);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--space-4x);

  color: var(--text-light);
  background-color: var(--background);
}
.card-item {
  padding: var(--space-2x);
  max-width: 250px;

  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
  align-items: center;

  text-align: center;
}
.card-item img {
  width: 80px;
}
.card-item > p:nth-child(2) {
  font-weight: bold;
}

.section-50 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: var(--space-4x);
  margin: var(--space-12x) var(--space-4x);
  align-items: center;
}
.section-50 > div {
  padding: var(--space-2x);
}
.img-hours-container {
  display: flex;
  justify-content: center;
}
.img-hours-container > img {
  object-fit: contain;
  max-width: min(100%, 700px);
}
.hours > * {
  margin-bottom: var(--space-2x);
}
.hours > ul {
  list-style: none;
  max-width: 350px;
  margin: var(--space-4x) 0;
}
.hours > ul > li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--space-1x);
}
.hours > ul > li > span:first-child {
  font-weight: bold;
}
@media screen and (max-width: 1095px) {
  .section-50 > div {
    margin: 0 auto;
    text-align: center;
  }
  .section-50 > div > ul {
    margin: var(--space-4x) auto;
  }
  .section-50 > .map-container {
    margin: 0 0;
  }
}
@media screen and (max-width: 399px) {
  .hero-container h1 {
    font-size: 2.369rem; /* 37.92px */
  }
  .section-50 {
    margin: var(--space-8x) var(--space-2x);
  }
  .hours > ul {
    font-size: 1rem;
  }
}
